<body>
    <mat-card class="example-card">
<div *ngIf = "authService.user | async">
  <h1>Welcome {{ (authService.user | async)?.displayName }}!</h1>
</div>


<!------------------------------------------------------------------->


<div *ngIf = "!(authService.user | async)">
  <a>Please </a>
  <a routerLink = "login">login </a>
   <a>or </a>
   <a routerLink = "register">register </a>
   <a>to manage your reading list</a>
</div>


<!-------------------------------------------------------------------> 
<div *ngIf = "(authService.user | async)">



    <book *ngFor = "let book of books"
    [data] = "book"></book> 

<!--------------------------->

<ul class="addBooks"> 

    <mat-form-field>
 <input [(ngModel)]= "name"  matInput placeholder="book name">
  </mat-form-field>
 
  <mat-form-field >
  <input [(ngModel)]= "authorName"  matInput placeholder="author name">
  </mat-form-field>

  <button mat-raised-button 
            (click) = "addBook(name,authorName)">
            add book</button>
  </ul>
  
</div>



</mat-card>
</body>