.example-form {
  min-width: 30px;
  max-width: 100px;
  width: 10%;
}

.mat-form-field{
    width: 30%;
    margin:1%;
}

.form{
    margin: 1%;
}
.example-card
{
min-width: 150px;
max-width: 500px;
width: 100%;
display: block;
margin: auto;
}

.example-full-width {
width: 100%;
}

mat-card-content, .top, mat-card-actions
{
margin-left: 30px;
}
.top
{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.dancing
{
width: 30%;
height: 20%;
border-radius: 25px;
margin-right: 20px;
margin-top: 40px;
}

.left-div
{
width: 75%;

}

.btn-social
{
position: relative;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: #fff;
border-color: rgba(0,0,0,0.2); 
width: 70%;
}

.btn-facebook
{
background: #3b5998;
}

.btn-google
{
background: #dd4b39;
}
button{
  margin: 1%
}