
<ul>
    <mat-checkbox [(ngModel)]="reed" (change) = "isReed()"></mat-checkbox>
   <a *ngIf= "!showEdit"
   (mouseenter) = "showAuthorName()"
   (mouseleave) = "hideAuthorName()"
   (click)="edit()">   
   {{name}}    
   <a *ngIf="showAN" (click)="edit()">  by:{{authorName}}</a></a> 


   <a *ngIf= "showEdit">
   <mat-form-field *ngIf= "showEdit" class="example-form">
        <input [(ngModel)]="name" name="name" matInput >
      </mat-form-field>

     By: <mat-form-field *ngIf= "showEdit" class="example-form">
            <input [(ngModel)]="authorName" name="authorName" matInput >
          </mat-form-field>

    <button mat-stroked-button color="warn" *ngIf= "showEdit" (click) = "Cancel()" >Cancel</button>
    <button mat-stroked-button color="primary"  *ngIf= "showEdit" (click) = "Save()" >Save</button>    
    </a>
  </ul>


